<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csxx.mapper.webOrg.AbMemberGroupMapper" >
    <resultMap id="BaseResultMap" type="com.csxx.dao.webOrg.AbGroupMember" >
        <constructor >
            <arg column="group_member_id" jdbcType="NVARCHAR" javaType="java.lang.String" />
            <arg column="name" jdbcType="NVARCHAR" javaType="java.lang.String" />
            <arg column="mebile" jdbcType="NVARCHAR" javaType="java.lang.String" />
            <arg column="applicateRemark" jdbcType="NVARCHAR" javaType="java.lang.String" />
            <arg column="applicate_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="verify_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        </constructor>
    </resultMap>
    <resultMap id="groupList" type="com.csxx.dao.webOrg.AbGroupMember">
        <id property="groupMemberId" column="group_member_id" />
        <result property="name" column="name" />
        <result property="mebile" column="mebile" />
        <result property="applicateDate" column="applicate_date" />
        <result property="verifyDate" column="verify_date" />
        <result property="applicateRemark" column="applicate_remark" />
    </resultMap>
    <resultMap id="getMemberId" type="com.csxx.dao.webOrg.AbGroupMember">
        <id property="groupMemberId" column="group_member_id" />
    </resultMap>
    <sql id="Base_Column_List" >
        group_member_id,name,mebile,applicate_date,verify_date,applicate_remark
    </sql>

    <!-- 查询没有审核通过的成员信息 -->
    <select id="selectNotViewGroupList" resultMap="groupList" parameterType="java.lang.String">
        select
        a.mebile ,a.name,a.group_member_id
        from ab_group_member_tab a
        inner join  ab_member_and_group_tab b
        on a.group_member_id = b.group_member_id
        inner join ab_group_tab c
        on c.group_id = b.group_id
        where
        b.member_role = 0
        and c.group_id = #{aa,jdbcType=NVARCHAR}
    </select>

    <!-- 查询审核通过成员的信息 -->
    <select id="selectViewGroupList" resultMap="groupList" parameterType="java.lang.String">
        select
        a.mebile ,a.name,a.group_member_id
        from ab_group_member_tab a
        inner join  ab_member_and_group_tab b
        on a.group_member_id = b.group_member_id
        inner join ab_group_tab c
        on c.group_id = b.group_id
        where
        b.member_role &lt;&gt; 0
        and c.group_id = #{aa,jdbcType=NVARCHAR}
        and a.name  LIKE  '%'+ #{name ,jdbcType=NVARCHAR} + '%'
    </select>

    <!--查询群成员信息-->
    <select id="findGroupMember" resultMap="groupList" parameterType="com.csxx.dao.webOrg.AbGroupMember"  >
        select
        <include refid="Base_Column_List" />
        from ab_group_member_tab where 1=1
    </select>

    <!--查询群成员编号信息-->
    <select id="getMemberId"  resultMap="getMemberId"  parameterType="java.lang.String"  >
        select
          group_member_id
        from
          ab_group_member_tab
        where mebile =  #{mebile,jdbcType=NVARCHAR}
    </select>

    <!--查询群组标号和成员编号群成员编号信息-->
    <select id="getMemberIdByMobileAndGroupId"  resultType="java.lang.String"  parameterType="java.lang.String"  >
         select
          a.group_member_id
        from
          ab_group_member_tab a
         inner join ab_member_and_group_tab b
        on  a.group_member_id = b.group_member_id
        where a.mebile = #{mobile,jdbcType=NVARCHAR}
        and b.group_id = #{groupId,jdbcType=NVARCHAR}
    </select>

    <!-- 根据成员编号删除成员信息 -->
    <delete id="deleteByGroupMemberId" parameterType="java.lang.String">
      delete from
        ab_group_member_tab
      where
        group_member_id = #{groupMemberId,jdbcType=NVARCHAR}
    </delete>


    <!-- 添加群成员信息 -->
    <insert id="insert" parameterType="com.csxx.dao.webOrg.AbGroupMember" >
        insert into
          ab_group_member_tab (
              group_member_id,
              name,
              mebile,
              applicate_remark
              applicreate_date,
              verify_date
          )
        values (
            #{groupMemberId,jdbcType=NVARCHAR},
            #{name,jdbcType=NVARCHAR},
            #{mebile,jdbcType=NVARCHAR},
            #{applicateRemark,jdbcType=NVARCHAR},
            #{applicateDate,jdbcType=TIMESTAMP},
            #{verifyDate,jdbcType=TIMESTAMP},
        )
    </insert>

     <!-- 选择添加成员信息-->
    <insert id="insertSelective" parameterType="com.csxx.dao.webOrg.AbGroupMember" >
        insert into ab_group_member_tab
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="groupMemberId != null" >
                group_member_id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="mebile != null" >
                mebile,
            </if>
            <if test="applicateRemark != null" >
                applicate_remark,
            </if>
            <if test="applicateDate != null" >
                applicate_date,
            </if>
            <if test="verifyDate!= null" >
                verify_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="groupMemberId != null" >
                #{groupMemberId,jdbcType=NVARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=NVARCHAR},
            </if>
            <if test="mebile != null" >
                #{mebile,jdbcType=NVARCHAR},
            </if>
            <if test="applicateRemark != null" >
                #{applicateRemark,jdbcType=NVARCHAR},
            </if>
            <if test="applicateDate != null" >
                #{applicateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="verifyDate != null" >
                #{verifyDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <!--选择性更新信息-->
    <update id="updateByPrimaryKeySelective" parameterType="com.csxx.dao.webOrg.AbGroupMember" >
        update ab_group_member_tab
        <set >
            <if test="groupMemberId != null" >
                #{groupMemberId,jdbcType=NVARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=NVARCHAR},
            </if>
            <if test="mebile != null" >
                #{mebile,jdbcType=NVARCHAR},
            </if>
            <if test="applicateRemark != null" >
                #{applicateRemark,jdbcType=NVARCHAR},
            </if>

            <if test="applicateDate != null" >
                #{applicateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="verifyDate != null" >
                #{verifyDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where group_member_id = #{groupMemberId,jdbcType=NVARCHAR}
    </update>


     <!-- 审核申请的成员 -->
    <update id="updateByPrimaryKey" parameterType="com.csxx.dao.webOrg.AbGroupMember" >
    update ab_group_member_tab
    set
      verify_date = #{verifyDate,jdbcType=TIMESTAMP}
    where group_member_id = #{groupMemberId,jdbcType=NVARCHAR}
  </update>
</mapper>