<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csxx.mapper.webOrg.AbMemberGroupMapper" >
    <resultMap id="BaseResultMap" type="com.csxx.dao.webOrg.AbGroupMember" >
        <constructor >
            <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
            <arg column="group_role" jdbcType="TINYINT" javaType="java.lang.Byte" />
            <arg column="group_member_id" jdbcType="NVARCHAR" javaType="java.lang.String" />
            <arg column="name" jdbcType="NVARCHAR" javaType="java.lang.String" />
            <arg column="mebile" jdbcType="NVARCHAR" javaType="java.lang.String" />
            <arg column="applicateRemark" jdbcType="NVARCHAR" javaType="java.lang.String" />
            <arg column="applicate_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="verify_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        </constructor>
    </resultMap>
    <resultMap id="groupList" type="com.csxx.dao.webOrg.AbGroupMember">
        <id property="groupMemberId" column="group_member_id" />
        <result property="name" column="name" />
        <result property="mebile" column="mebile" />
        <result property="groupRole" column="group_role" />
        <result property="status" column="status" />
        <result property="applicateDate" column="applicate_date" />
        <result property="verifyDate" column="verify_date" />
        <result property="applicateRemark" column="applicate_remark" />
    </resultMap>
    <sql id="Base_Column_List" >
        group_member_id,name,mebile,group_role,status,applicate_date,verify_date,applicate_remark
    </sql>
    <!--查询群成员信息-->
    <select id="findGroupMember" resultMap="groupList" parameterType="com.csxx.dao.webOrg.AbGroupMember"  >
        select
        <include refid="Base_Column_List" />
        from ab_group_member_tab where 1=1
    </select>
    <!-- 根据成员编号删除成员信息 -->
    <delete id="deleteByGroupMemberId" parameterType="java.lang.String">
      delete from
        ab_group_member_tab
      where
        group_member_id = #{groupMemberId,jdbcType=NVARCHAR}
    </delete>
    <!-- 添加群成员信息 -->
    <insert id="insert" parameterType="com.csxx.dao.webOrg.AbGroupMember" >
        insert into
          ab_group_member_tab (
              group_member_id,
              name,
              mebile,
              applicate_remark
              applicreate_date,
              verify_date,
              status,
              group_role
          )
        values (
            #{groupMemberId,jdbcType=NVARCHAR},
            #{name,jdbcType=NVARCHAR},
            #{mebile,jdbcType=NVARCHAR},
            #{applicateRemark,jdbcType=NVARCHAR},
            #{applicateDate,jdbcType=TIMESTAMP},
            #{verifyDate,jdbcType=TIMESTAMP},
            #{status,jdbcType=TINYINT},
            #{groupRole,jdbcType=TINYINT}
        )
    </insert>
     <!-- 选择添加成员信息-->
    <insert id="insertSelective" parameterType="com.csxx.dao.webOrg.AbGroupMember" >
        insert into ab_group_member_tab
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="groupMemberId != null" >
                group_member_id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="mebile != null" >
                mebile,
            </if>
            <if test="applicateRemark != null" >
                applicate_remark,
            </if>
            <if test="groupRole != null" >
                group_role,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="applicateDate != null" >
                applicate_date,
            </if>
            <if test="verifyDate!= null" >
                verify_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="groupMemberId != null" >
                #{groupMemberId,jdbcType=NVARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=NVARCHAR},
            </if>
            <if test="mebile != null" >
                #{mebile,jdbcType=NVARCHAR},
            </if>
            <if test="applicateRemark != null" >
                #{applicateRemark,jdbcType=NVARCHAR},
            </if>
            <if test="groupRole != null" >
                #{groupRole,jdbcType=TINYINT},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>
            <if test="applicateDate != null" >
                #{applicateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="verifyDate != null" >
                #{verifyDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--选择性更新信息-->
    <update id="updateByPrimaryKeySelective" parameterType="com.csxx.dao.webOrg.AbGroupMember" >
        update ab_group_member_tab
        <set >
            <if test="groupMemberId != null" >
                #{groupMemberId,jdbcType=NVARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=NVARCHAR},
            </if>
            <if test="mebile != null" >
                #{mebile,jdbcType=NVARCHAR},
            </if>
            <if test="applicateRemark != null" >
                #{applicateRemark,jdbcType=NVARCHAR},
            </if>

            <if test="groupRole != null" >
                #{groupRole,jdbcType=TINYINT},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>


            <if test="applicateDate != null" >
                #{applicateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="verifyDate != null" >
                #{verifyDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where group_member_id = #{groupMemberId,jdbcType=NVARCHAR}
    </update>
     <!-- 审核申请的成员 -->
    <update id="updateByPrimaryKey" parameterType="com.csxx.dao.webOrg.AbGroupMember" >
    update ab_group_member_tab
    set
      status = #{status,jdbcType=TINYINT},
      verify_date = #{verifyDate,jdbcType=TIMESTAMP}
    where group_member_id = #{groupMemberId,jdbcType=NVARCHAR}
  </update>
</mapper>